/* Importing local fonts */
@import url("./fonts.css");

/* Custom variables */
:root {
  /* Colors */
  /* --primary-color: ;
  --secondary-color: ;
  --light-color: ;
  --dark-color: ; */
  --white-color: #ffffff;
  --black-color: #000000;

  /* fonts */
  --primary-font: "Poppins", sans-serif;

  /* transitions */
  --trans-3s: all 0.3s ease;
  --trans-5s: all 0.5s ease;

  /* spacings */
  --spacing-1: 0.25rem; /* 4px */
  --spacing-2: 0.5rem; /* 8px */
  --spacing-3: 1rem; /* 16px */
  --spacing-4: 1.5rem; /* 24px */
  --spacing-5: 2rem; /* 32px */
  --spacing-6: 3rem; /* 48px */
  --spacing-7: 6rem; /* 96px */

  /* Box-shadow */
  --shadow: 0px 0px 3px 0px rgba(0, 0, 0, 0.3);

  /* typography size */
  --ty-size-h1: 2.125rem; /* 34px */
  --ty-size-h2: 1.6rem; /* 25.6px */
  --ty-size-h3: 1.25rem; /* 20px */
  --ty-size-p: 1rem; /* 16px */
}

/* Resets */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: var(--primary-font);
}

body {
  background: #1382a8;
  background: linear-gradient(135deg, #1382a8, #ca606d);
  color: var(--white-color);
  background-repeat: no-repeat;
  height: 100dvh;
}

h1 {
  font-size: var(--ty-size-h1);
  font-weight: 700;
}

h2 {
  font-size: var(--ty-size-h2);
  font-weight: 700;
}

h3 {
  font-size: var(--ty-size-h3);
  font-weight: 500;
}

p,
a,
button {
  font-size: var(--ty-size-p);
  font-weight: 500;
}

/* Header Style */
.header {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: var(--spacing-3);
  margin-top: var(--spacing-5);
}

.main-tittle {
  text-align: center;
  line-height: 30px;
  min-width: 400px;
  margin-top: var(--spacing-6);
}

/* Main Style */
.main {
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Card Wrapper */
.card-wrapper {
  margin-top: var(--spacing-7);
  width: 400px;
  max-width: 350px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.card {
  background-color: var(--white-color);
  padding: var(--spacing-3);
  margin: var(--spacing-3);
  min-width: 325px;
  height: 350px;
  border-radius: 10px;
  box-shadow: var(--shadow-2);
}

.gradient-preview {
  background: #1382a8;
  background: linear-gradient(135deg, #1382a8, #ca606d);
  height: 110px;
  cursor: pointer;
  border-radius: 4px;
  margin: var(--spacing-1) 0;
}

.input-buttons {
  display: flex;
  justify-content: space-between;
}

.input-buttons > * {
  display: flex;
  flex-direction: column;
}

.label-names {
  font-weight: 400;
  color: var(--black-color);
}

.direction-selector {
  margin-right: var(--spacing-2);
}

.direction {
  height: 30px;
  width: 120px;
  padding-left: 8px;
  background-color: rgb(59, 59, 59);
  color: var(--white-color);
  border-radius: 4px;
}

.color-picker {
  text-align: right;
}

.colors {
  width: 30px;
  height: 30px;
}

.result {
  width: 100%;
  height: 70px;
  margin: var(--spacing-2) 0;
  padding: 10px;
  resize: none;
  border: 1px solid var(--black-color);
  border-radius: 4px;
}

.result:focus {
  text-decoration: none;
  outline: none;
}
.result:active {
  text-emphasis: none;
}

.action-buttons {
  display: flex;
  justify-content: space-between;
  margin: var(--spacing-2) 0;
}

.action-buttons > button {
  height: 30px;
  width: 135px;
  background-color: var(--black-color);
  border-radius: 4px;
  border-style: none;
  box-sizing: border-box;
  color: var(--white-color);
  cursor: pointer;
  font-size: 14px;
  font-weight: 500;
  line-height: 1.5;
  max-width: none;
  min-height: 40px;
  min-width: 10px;
  outline: none;
  text-align: center;
  text-transform: none;
  opacity: 0.8;
}

.action-buttons > button:hover,
.action-buttons > button:focus {
  opacity: 1;
}

.copy-button {
  background: #1382a8;
  background: linear-gradient(135deg, #1382a8, #ca606d);
}
